<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakegosskuehn.easycontactinput"
    android:versionCode="5"
    android:versionName="2.3" 
    android:theme="@style/AppTheme"> 
    
    

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    
		<uses-permission android:name="android.permission.WRITE_SMS"/>
		<uses-permission android:name="android.permission.READ_SMS"/>
		<uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainpicture"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jakegosskuehn.easycontactinput.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="settingmenu" >
        
        
        </activity>
        
            <activity android:name="feedback" >
                </activity>
    </application>

</manifest>
